/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Segoe UI', sans-serif;

    background: url("assets/background.jpg") no-repeat center center fixed;
    background-size: cover;

    backdrop-filter: blur(2px);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    margin: 0;
}

/* Overlay */
body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 0;
}

/* Canvas */
#bgCanvas {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -2;
}

/* Container */
.container {
    position: relative;
    z-index: 1;

    background: rgba(15, 23, 42, 0.7);
    backdrop-filter: blur(15px);

    padding: 40px;
    border-radius: 20px;
    text-align: center;

    width: 500px;
    max-width: 90%;

    border: 1px solid rgba(56, 189, 248, 0.3);

    box-shadow:
        0 0 20px rgba(56, 189, 248, 0.3),
        0 0 60px rgba(56, 189, 248, 0.1);

    animation: fadeIn 0.8s ease-in-out;
}

/* Responsive */
@media (min-width: 1024px) {
    .container {
        width: 600px;
        padding: 45px;
    }
}

@media (max-width: 500px) {
    .container {
        width: 90%;
        padding: 25px;
    }
}

/* Title */
.title {
    color: #38bdf8;
    text-shadow: 0 0 20px #38bdf8;
}

/* Subtitle (UPDATED COLOR) */
.subtitle {
    color: #38bdf8;
    font-size: 14px;
    margin-bottom: 10px;
    text-shadow: 0 0 10px #38bdf8;
}

/* Instruction */
.instruction {
    font-size: 13px;
    color: #94a3b8;
    margin-bottom: 15px;
}

/* Input */
input {
    width: 100%;
    padding: 14px;
    border-radius: 10px;
    border: none;
    margin-bottom: 15px;
}

input:focus {
    outline: none;
    box-shadow: 0 0 10px #38bdf8;
}

/* Button */
button {
    padding: 14px 30px;
    border: none;
    border-radius: 10px;
    background: #38bdf8;
    cursor: pointer;

    box-shadow: 0 0 20px #38bdf8;
}

button:hover {
    transform: scale(1.08);
}

button:active {
    transform: scale(0.95);
}

/* Result */
.result {
    margin-top: 20px;
    font-weight: bold;
}

/* Progress */
.progress {
    width: 100%;
    height: 8px;
    background: #1e293b;
    margin-top: 15px;
}

#progressBar {
    height: 100%;
    width: 0%;
    background: #38bdf8;
}

/* AI Status */
.ai-status {
    margin-top: 10px;
    color: #38bdf8;
    animation: blink 1.5s infinite;
}

/* Animations */
@keyframes blink {
    50% { opacity: 1; }
    0%,100% { opacity: 0.5; }
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px);}
    to { opacity: 1; }
}