/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container */
.container {
    background: #1e293b;
    padding: 30px;
    border-radius: 16px;
    text-align: center;
    width: 400px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
    animation: fadeIn 0.8s ease-in-out;
}

/* Title */
h1 {
    margin-bottom: 10px;
    font-size: 26px;
}

p {
    margin-bottom: 20px;
    color: #cbd5f5;
}

/* Input */
input {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    margin-bottom: 15px;
    font-size: 14px;
    outline: none;
}

/* Button */
button {
    padding: 12px 25px;
    border: none;
    border-radius: 10px;
    background: #38bdf8;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #0ea5e9;
    transform: scale(1.05);
}

/* Result */
.result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

/* Result Colors */
.safe {
    color: #22c55e;
}

.warning {
    color: #facc15;
}

.danger {
    color: #ef4444;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}